html, body {
  overflow-x: hidden !important;
  font-family: Dosis, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  font-weight: 100;
  background: #ffffff;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: Dosis;
    src: url(./fonts/Dosis-ExtraLight.otf);
}

a {
    outline: none;
    text-decoration: none;
}

a {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.corpo {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.leftNavbar {
    height: 100%;
    background: #34495e;
    color: #ffffff;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
}

.icon {display: none;}

.titleNavbar {
    width: 100%;
    display: block;
}

.linkTitleNavbar {
    padding: 0 !important;
    color: #34495e !important;
}

.linkTitleNavbar:hover {
    text-decoration: none;
}

.navbarTitle {
    font-size: 20pt;
    display: block;
    width: 100%;
    height: auto;
    border-right: 1px solid #34495e;
    padding: 2% 0;
    margin-bottom: 20%;
    background: #ffffff;
    color: #34495e;
}

.presentation > a {
    color: #ffffff !important;
}
.nav-pills > li > a {
    border-radius: 0 !important;
    color: #ffffff;
}

.nav-pills > li > a:hover {
    color: #34495e !important;
}

.glyphicon {
    margin-right: 5%;
}

.logoContainer {
    width: 100%;
}

.logo {
  color: #f9f9f9;
}
.logo {
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  font-family: 'Segoe ui', cursive;
  font-weight: 100;
  height: 54px;
  display: block;
}

.mainContent {
    width: 85%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

.topbarMenu {
    width: 100%;
    height: 48px;
    display: block;
    line-height: 48px;
    border-bottom: 1px solid #ccc;
}

.dashboardTitle {
    font-size: 24px;
    display: block;
    float: left;
    padding: 0 2%;
    width: 20%;
}

.logout {
    display: block;
    width: 80%;
    float: left;
}

.btnLogout {
    float: right;
}

.spanNoMatches {
    display: block;
    font-size: 30px;
    width: 100%;
    padding: 20% 25%;
}

.usernameContainer {
    display: block;
    float: right;
    margin: 0 2%;
}

.divider {
    width: 100%;
    height: 5%;
    min-height: 60px;
}

.navbarMenuItem {
    color: white;
    font-size: 15pt;
    line-height: 50px;
    border-top: 1px solid white;
}

.navbarMenuItem:first-of-type {
    border-top: 1px solid white;
}

.navbarMenuList li:last-of-type .navbarMenuItem {
    border-bottom: 1px solid white;
}

.navbarMenuList li {
    width: 100%;
}

.navbarMenuList li a {
    width: 100%;
    display: block;
}

.navbarMenuList li a span {
    padding-left: 35px;
}

.dashboardContent {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 1.5rem;
}

.rowStats {
    width: 100%;
    height: 25%;
    box-sizing: inherit;
    display: block;
    background: #f0f0f0;

}

.rowStatsTitle {
    display: block;
    margin-bottom: 2rem;
    font-size: 20px;
}

.matchesRefereedStats {
    width: 31%;
    display: block;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
}

.firtOfType {
    margin-left: 0;
}

.lastOfType {
    margin-right: 0;
}

.box {
    box-shadow: 0 0 1px rgba(0,0,0,.15);
position: relative;
/* margin-bottom: 1.5rem; */
background: #fff;
height: 68px;
display: inline-block;
width: 100%;

}

.boxLeft {
    box-shadow: 0 0 1px rgba(0,0,0,.15);
/* padding: 1rem !important; */
position: relative;
/* margin-bottom: 1.5rem; */
background: #fff;
height: 40%;
display: inline-block;
width: 100%;
}

.iconRounded {
    width: auto;
    height: auto;
    min-width: 48px;
    min-height: 48px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background: #0cc2aa;
    color: #fff;

}

.iconBox {
    font-family: 'Segoe UI';
    font-weight: 100;
    font-style: normal;
    font-size: 3rem;
    line-height: 2.25;
    width: auto;
    /* width: 100%; */
    display: block;
    text-align: center;
    height: 100%;
    padding: 0 1rem;
    float: left;
    min-width: 68px;
    background: green;
    color: white;
}

.boxRight {
    /* width: auto; */
/* display: inline-block; */
font-size: 2rem;
/* height: 100%; */
/* text-align: center; */
/* font-weight: 100; */
/* font-family: Segoe UI; */
/* line-height: 2.25; */
/* text-align: center; */
display: block;
float: left;
width: auto;
height: 100%;
line-height: 3.5;
padding-left: 1rem;
}

.profileContent {
    text-align: center;
    margin: 3% 0;
}

.profileInfo {
    font-size: 13pt;
    text-align: left;
    line-height: 1.5;
    margin: 2% 0;

}

.infoNomeUtente {
    font-size: 22pt;
}

.small {
    font-size: 60% !important;
    color: #cccccc;
}

.ContainerInfoGenerali {
    width: 50%;
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}

.showMedia {
    font-size: 14pt;
}

.rowStatsContainer {
    border-top: 1px solid #cccccc;
    padding: 3% 0;
    border-bottom: 1px solid #cccccc;
}

.mediaCircle {
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    font-size: 35px;
    line-height: 110px;
    margin-top: 2%;
}

.row {
    display: block;
}

.percentagesBarContainer {
    margin: 3% 0;
}

.progress-bar {
    background: #f39c12 !important;
}

.progressBarSection {
    height:20%;
}

.progressContainer {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.infoProgess {
    display: block;
    width: 20%;
    float: left;
}

.progress {
    display: block;
    float: left;
    width: 80%;
    margin-bottom: 0 !important;
}

.containerArbitrate {
    display: block;
}

.containerArbitrateTitle {
    text-align: center;
    font-size: 14pt;
}

.containerArbitrateContent {
    width: 100%;
    font-size: 30pt;
}

.containerAggiungi {
    padding: 5%;
}

.inputAggiungi {
    margin: 10px 0;
}


/* @media screen and (max-width:720px) {
    .leftNavbar {
        width: 100%;
        height:auto;
    }

    .navbarItem {
        display: none;
    }
} */

@media screen and (max-width:720px) {
    ul.navbarItem {display: none;}
    .icon {
        display: inline-block;
        float: right;
        margin-right: 10px;
    }
}

@media screen and (max-width:720px) {
    ul.navbarItem.responsive {position: relative;}
    ul.navbarItem.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.navbarItem.responsive li {
        float: none;
        display: inline;
    }
    ul.navbarItem.responsive li a {
        display: block;
        text-align: left;
    }
}

@media (max-width: 992px) {
    .leftNavbar {
        position: relative !important;
    }
}
