body {
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
    background: #ffffff !important;
}

.panel {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.navbar {
    border: none !important;
    border-radius: 0 !important;
}

.listaPartite {
    width:100%;
}

.brandTitle {
    display: block;
    width: 19%;
    float: left;
    color: white !important;
    font-size: 18pt;
}

.modalModifica {
    display: block;
    width: 100%;
}

.formSquadre {
    width: 50%;
    margin: auto;
    float: left;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}